{% extends 'GreenFrogCmsBundle::layout.html.twig' %}

{% block title %}{{ page.name|title }} - {{ gf_cms.site.page_title }}{% endblock %}

{% block body %}
<h1>{{ page.name|title }}</h1>
<p>Yo mama!</p>
{% endblock %}